<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Project</title>
	<link rel="stylesheet" href="static/css/bootstrap.css" />
	<link rel="stylesheet" href="static/css/style.css" />
	<script>var initView = function () {
		$('#image').setAttribute("src",GetQueryString("image"));
    };

    function GetQueryString(name)
        {
            var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg);
            if(r!=null)return  unescape(r[2]); return null;
        }
	</script>
</head>
<body onload="initView()">
	<div class="container">
		<div class="portfolio-project">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 center section-title">
					<h4>Project Title</h4>
				</div>
				<div class="col-md-5 project-photo">
					<img id="image" alt="" />
				</div>
				<div class="col-md-3 project-details">
					<h5>Project Details</h5>
					<ul class="details-list">
						<li><i class="fa fa-th-list"></i> <strong class="strong">Category: </strong> Project category</li>
						<li><i class="fa fa-user"></i> <strong class="strong">Designer: </strong> MH Rafi</li>
						<li><i class="fa fa-calendar"></i> <strong class="strong">Date: </strong> 27 Dec 2014</li>
						<li><i class="fa fa-group"></i> <strong class="strong">Client: </strong> Jhone Doe</li>
						<li><i class="fa fa-link"></i> <strong class="strong">Project url: </strong> <a href="#"><strong>themegret</strong></a></li>
					</ul>
				</div>
				<div class="col-md-4 project-info">
					<h5>Project Info</h5>
					<p>Without. Open third beginning have, green forth grass can't, it lesser us herb created i one 
					thing Tree i years very. Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.
					Man itself in multiply after fly had give sixth waters. First you'll won't sixth moving.</p>
				</div>
			</div>
		</div>
	</div>
	
	
	
</body>
</html>